<div class="row">
  <div class="col-lg-6 my-3">
    <div class="card res-cards">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Net Worth</h4>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body">
        <div id="barchart" class="apex-charts ms-n4"></div>
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>

  <!--end col-->
  <div class="col-lg-6 my-3">
    <div class="card res-cards">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Accounts</h4>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body">
        <div class="text-center">
          <div id="ana_device" class="apex-charts"></div>
          <h6 class="bg-light-alt py-3 px-2 mb-0">
            <i data-feather="calendar" class="align-self-center icon-xs me-1"></i>
            01 January 2020 to 31 December 2020
          </h6>
        </div>
        <!--end /div-->
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>
<!--end row-->
<div class="row">
  <div class="col-lg-6">
    <div class="card res-cards">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Transactions</h4>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body ">
        <div class="analytic-dash-activity" data-simplebar>
          <!--        <div class="table-responsive browser_users res-card_body">-->
          <table class="table mb-0 ">
            <thead class="table-light">
            <tr>
              <th class="border-top-0">Transaction</th>
              <th class="border-top-0">Account</th>
              <th class="border-top-0">Amount</th>
              <th class="border-top-0">Category</th>
            </tr>
            <!--end tr-->
            </thead>
            <tbody>
            <% @accounts.each do |account| %>
            <tr>
              <td><%= account.transactions.first.category %></td>
              <td><%= account.provider_name %></td>
              <td><%= account.transactions.first.amount %></td>
              <td><%= account.account_type %></td>

            </tr>
              <% end  %>

            </tbody>
          </table>
          <!--end table-->
        </div>
        <!--end /div-->
        <!--end /div-->
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->

  <div class="col-lg-6">
    <div class="card res-cards">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Notifications</h4>
          </div>
          <!--end col-->
          <div class="col-auto">
            <div class="dropdown">
              <a href="javascript:;" class="btn btn-sm btn-outline-light dropdown-toggle" data-bs-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                All<i class="las la-angle-down ms-1"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="javascript:;">Purchases</a>
                <a class="dropdown-item" href="javascript:;">Emails</a>
              </div>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body">
        <div class="analytic-dash-activity" data-simplebar>
          <div class="activity">
            <% current_user.notifications.each do |notification| %>

            <div class="activity-info">
              <div class="icon-info-activity">
                <i class="mdi mdi-clock-outline bg-soft-primary"></i>
              </div>
              <div class="activity-info-text">
                <div class="d-flex justify-content-between align-items-center">
                  <p class="text-muted mb-0 font-13 w-75"><%= notification.text %></p>
                  <small class="text-muted"><%= notification.created_at.strftime('%d %B %Y')%></small>
                </div>
              </div>
            </div>

            <% end %>

          </div>
          <!--end activity-->
        </div>
        <!--end analytics-dash-activity-->
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>