<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <div class="row">
        <div class="col">
          <h4 class="page-title">Accounts</h4>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Abacus</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Account History</a></li>
            <li class="breadcrumb-item active">Accounts</li>
          </ol>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end page-title-box-->
  </div><!--end col-->
</div><!--end row-->
<!-- end page title end breadcrumb -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-rep-plugin">
          <table class="table table-striped mb-0 myTable">
            <thead>
            <tr>
              <th data-priority="1">UserName</th>
              <th data-priority="1">File Name</th>
              <th data-priority="1">File Type</th>
              <th data-priority="3">Uploaded Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <th data-priority="1"><%= current_user.full_name %></th>
            <th data-priority="1">ABC</th>
            <th data-priority="1">PDF</th>
            <th data-priority="3"><%= Time.now %></th>
            </tr>
            <tr>
              <th data-priority="1"><%= current_user.full_name %></th>
              <th data-priority="1">ABC</th>
              <th data-priority="1">JPG</th>
              <th data-priority="3"><%= Time.now %></th>
            </tr>
            <tr>
              <th data-priority="1"><%= current_user.full_name %></th>
              <th data-priority="1">ABC</th>
              <th data-priority="1">PNG</th>
              <th data-priority="3"><%= Time.now %></th>
            </tr>
            <tr>
              <th data-priority="1"><%= current_user.full_name %></th>
              <th data-priority="1">ABC</th>
              <th data-priority="1">PDF</th>
              <th data-priority="3"><%= Time.now %></th>
            </tr>
            <tr>
              <th data-priority="1"><%= current_user.full_name %></th>
              <th data-priority="1">ABC</th>
              <th data-priority="1">JPEG</th>
              <th data-priority="3"><%= Time.now %></th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--end card-->
  </div> <!-- end col -->
</div> <!-- end row -->
