<div class="row my-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div>
        <h4 class="card-title">Recent Transaction</h4>
        <p class="text-muted mb-0">Here are some recent transactions from your connected bank account.</p>
        </div>
        <div class="col-auto align-self-center">
          <a href="javascript:;" class="btn btn-sm btn-outline-primary" id="Dash_Date">
            <span class="ay-name" id="Day_Name">Today:</span>&nbsp;
            <span class="" id="Select_date">Jan 11</span>
            <i data-feather="calendar" class="align-self-center icon-xs ms-1"></i>
          </a>
        </div>
      </div><!--end card-header-->
      <div class="card-body">
        <div class="table-rep-plugin">
            <table class="table table-striped mb-0 myTable">
              <thead>
              <tr>
                <th>Account ID</th>
                <th>ID</th>
                <th data-priority="1">Amount with currency</th>
                <th data-priority="3">Category</th>
                <th data-priority="1">Category Type</th>
                <th data-priority="3">Description</th>
                <th data-priority="3">Transaction Date</th>
              </tr>
              </thead>
              <tbody>
                <% @transactions.each do |transaction| %>
                  <tr>
                    <th><%= transaction.account_id %></th>
                    <th><%= transaction.id %></th>
                    <th><%= transaction.amount %> <%= transaction.currency %></th>
                    <th><%= transaction.category %></th>
                    <th><%= transaction.category_type %></th>
                    <th><%= transaction.description %></th>
                    <th><%= transaction.transaction_date %></th>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      </div><!--end card-body-->
    </div><!--end card-->
  </div> <!-- end col -->
</div> <!-- end row -->
