<!-- Top Bar Start -->
<div class="topbar">
  <!-- Navbar -->
  <nav class="navbar-custom">
    <ul class="list-unstyled topbar-nav float-end mb-0">
      <li class="dropdown">
        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-bs-toggle="dropdown" href="javascript:;"
           role="button" aria-haspopup="false" aria-expanded="false">
          <div class="d-flex align-items-center">
            <div class="me-2">
              <span class="ms-1 nav-user-name hidden-sm" ><%= current_user.first_name if current_user.present? %></span>
              <span class="ms-1 nav-user-name hidden-sm"><%= current_user.last_name if current_user.present? %></span>
            </div>
            <div>
              <span class="user_logo_icon p-2"><%= current_user.first_name[0] if current_user.present? %> <%= current_user.last_name[0] if current_user.present? %></span>
            </div>
          </div>
        </a>
<!--        <div class="user-logo">-->
<!--          <span>-->
            <%#= current_user.first_name[0] if current_user.present? %>
<!--          </span>-->
<!--        </div>-->
        <div class="dropdown-menu dropdown-">
          <a class="dropdown-item" href="javascript:;"><i data-feather="user"
                                                          class="align-self-center icon-xs icon-dual me-1"></i> Account</a>
          <%=link_to subscriptions_dashboards_path, class: "dropdown-item" do %>
            <i data-feather="credit-card"
               class="align-self-center icon-xs icon-dual me-1"></i> Billing
          <% end %>
          <div class="dropdown-divider mb-0"></div>
          <%=link_to destroy_user_session_path, class: "dropdown-item", :method => :delete do %>
            <i data-feather="power"
               class="align-self-center icon-xs icon-dual me-1"></i> Logout
          <% end %>
        </div>
      </li>
    </ul>
    <!--end topbar-nav-->
  </nav>
  <!-- end navbar-->
</div>
<!-- Top Bar End -->

