<!DOCTYPE html>
<html lang="en">
<head>
  <title>Abacus</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="turbolinks-cache-control" content="no-cache">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://js.stripe.com/v3/"></script>
  <script type='text/javascript' src='https://cdn.yodlee.com/fastlink/v4/initialize.js'></script>
</head>

<body class="<%= "#{controller_name}_#{action_name}" %>">
<% unless request.path_info.include?('sign_up') || request.path_info.include?('sign_in') || request.path_info.include?('/password/new') %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>
<div class="page-wrapper">
  <% unless request.path_info.include?('sign_up') || request.path_info.include?('sign_in')  || request.path_info.include?('/password/new')%>
    <%= render :partial => "layouts/header" %>
  <% end %>
  <div class="page-content">
    <div class="container-fluid">
      <%= yield %>

      <div class="notification <%= 'success show' if notice %> <%= 'error show' if alert %>">
        <%= notice %>
        <%= alert %>
      </div>
    </div>
    <% unless request.path_info.include?('sign_up') || request.path_info.include?('sign_in')  || request.path_info.include?('/password/new')%>
      <%= render :partial => "layouts/footer" %>
    <% end %>
  </div>
</div>
</body>
</html>
